{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block stylesheet %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}



<div class="main-container">
    <div class="sidenav">
        <div class="elements text-center">
          <div class="image">
            {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="detail_image" style="max-width: 200px;">
            {% else %}
            <p><img src="{% static 'images/pfp.jpeg' %}" alt="" class="detail_image"></p>
              {% endif %}
            
      
                  <p style="color: white !important; ">@{{ user.username }}</p> </p>
              
          </div>
          <a href="{% url 'owner_details' %}" class="{% if '/owner_details/' in request.path %}
          active-dashboard
      {% endif %} ">DETAILS</a>
          <a href="{% url 'vehicle_register' %}" class="{% if '/vehicle_register/' in request.path %}
          active-dashboard
      {% endif %} ">ADD VEHICLE</a>
          <a href="{% url 'vehicle_on_rent' %}" class="{% if '/vehicle_on_rent/' in request.path %}
          active-dashboard
      {% endif %} ">YOUR VEHICLE</a>
      <a href="{% url 'on_leash' %}" class="{% if '/on_leash/' in request.path %}
          active-dashboard
      {% endif %} ">ON RENT</a>
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">SignOut</button></a>
        </div>
      </div>
      
      
      
          {% block sidebar_content %}
          {% endblock sidebar_content %}
      
</div>

{% endblock content %}
  



{% block footer-js %}
{% if messages %}
{% for message in messages %}
<script>
  alertify.set('notifier', 'position', 'top-center');
  alertify.success('{{message}}');
</script>
{% endfor %}
{% endif %}
{% endblock footer-js %}