{% extends "base.html" %}
{% load static %}
{% block title %}
  Change Password      
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container login-register-container">
  <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <form class="form" method="POST">
          {% csrf_token %}
          <p class="title">Change Password</p>
          {% for cf in cf %}
        {{cf.label_tag}} {{cf}} {{cf.errors|striptags}}
          
        {% endfor %}
          <button class="submit" type="submit">Change Password</button>
      </form>
      </div>
  </div>
</div>


{% endblock content %}




