{% extends "base.html" %}
{% load static %}
{% block title %}
      Confirm
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}
  <div class="container login-register-container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
          <form class="form" method="POST">
            {% csrf_token %}
            <p class="title">Confirm Password</p>
            {% for i in form %}
            {{i.label_tag}}{{i}}

              
            {% endfor %}

            
            <button class="submit" type="submit">Confirm</button>
        </form>
        </div>
    </div>
  </div>
{% endblock content %}