{% extends "base.html" %}
{% load static %}
{% block title %}
    Mailed
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container login-register-container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6 form">
            <p>
                Password changed successfully! You can now sign in using your new password through login page easily.
            </p>
            <button class="submit"><a href="/login/" style="text-decoration: none; color: white; font-variant: small-caps;">SignIn</a> </button>
        </div>
    </div>
</div>






{% endblock content %}