{% extends "base.html" %}
{% load static %}
{% block title %}
  Reset      
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container login-register-container">
  <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <form class="form" method="POST" action="">
          {% csrf_token %}
          <p class="title">Reset Password</p>
          {{form.as_p}}
          <button class="submit" type="submit">Reset</button>
      </form>
      </div>
  </div>
</div>


{% endblock content %}