{% extends "base.html" %}
{% load static %}
{% block title %}
    Mailed
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container login-register-container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6 form">
            <p class="title">Confirm Mail</p>
            <p>
                We've sent a password reset link to your email address. Please check your inbox and follow the
                instructions in the email to reset your password. If you don't receive the email shortly, check your
                spam folder. The reset link will expire, so act quickly.
            </p>
            <button class="submit"><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="paragraph">Open Gmail</a>
            </button>
        </div>
    </div>
</div>






{% endblock content %}