{% extends 'base.html' %}

{% block title %}
All Vechicles
{% endblock title %}

{% block content %}

<div class="container">
    <div class="back_arrow" data-aos="fade-up" data-aos-duration="1000">
        <a href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-arrow-left"></i> Go back</a>
    </div>

    <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-md-4">
            <form class="d-flex gap-1" role="search" method="GET" action="{% url 'search_vehicle' %}">
                {% csrf_token %}
                <input class="form-control search-button" type="search" placeholder="Search Vehicle.."
                    aria-label="Search" name="searched" id="search1" oninput="mirrorText()">
                <button class="btn learn-more" type="submit">Search</button>
                <a class="btn learn-more" data-bs-toggle="collapse" href="#filter" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Advance
                </a>
            </form>
        </div>
        
        <div class="collapse" id="filter">
            <div class="card card-body">
                <div class="row">
                    <form method="GET" action="{% url 'search_vehicle' %}">
                        {% csrf_token %}
                        <div class="form-group col-md-2 col-lg-2">
                            <label for="vehicleName">Vehicle Name:</label>
                            <input class="form-control search-button" type="search" placeholder="Search Vehicle.."
                                aria-label="Search" name="searched" id="search2">
                        </div>
    
                        <div class="form-group col-md-2 col-lg-2">
                            <label for="rateMin">Minimum Rate:</label>
                            <input type="number" min=0 class="form-control" id="rateMin" placeholder="0" name="min_rate">
                        </div>
                        <div class="form-group col-md-2 col-lg-2">
                            <label for="rateMax">Maximum Rate:</label>
                            <input type="number" min=0 class="form-control" id="rateMax" placeholder="15000"
                                name="max_rate">
                        </div>

                        <div class="form-group col-md-2">
                            <label for="category">Category</label>
                            <select id="category" class="form-control" name="category">
                              <option selected>Choose...</option>
                              {% for cat in categories %}
                              <option value="{{ cat }}">{{ cat }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          
                        <button class="btn learn-more" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <h1 style="margin-top: 50px;">Currently Available:</h1>
            {% if vehicles %}
            {% for vehicle in vehicles %}
            <div class="col-md-6">
                <div class="card mb-3 " style="border: 2px solid black !important;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ vehicle.image.url }}" class="img-fluid rounded-start" alt="...">
                            <small>Owned by: @{{vehicle.uploaded_by}}</small>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                
                                <h5 class="vehicle_model_1 vehicle_model">{{ vehicle.vehicle_model }}</h5>
                                <br />
                                <p class="card-text justified">{{ vehicle.description }}</p>


                                <br /><br />

                                {% if request.user.is_customer %}
                                
                                <a href="{% url 'rent_page' vehicle.id %}"><button type="button"
                                    class="btn learn-more">Rent</button></a>
                                {% else %}
                                <a href="/customer_needed/"><button type="button"
                                        class="btn learn-more">Rent</button></a>
                                {% endif %}

                                <a href="{% url 'vehicle' vehicle.id  %}"><button type="button"
                                        class="btn learn-more">Details</button></a>
                                <h4 style="float: right;"><strong>RS {{vehicle.rent_price}}/day</strong></h4>
                                <br>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>No vehicles are available right now!</h5>
            {% endif %}
            
            <hr>
            <h1 style="margin-top: 50px;">Currently Unavailable: </h1>
            {% if v2 %}
            {% for vehicle in v2 %}
            
            <div class="col-md-6">
                <div class="card mb-3 " style="height: 300px; border: 2px solid black !important;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ vehicle.image.url }}" class="img-fluid rounded-start" alt="...">
                            <small>Rented by: @{{vehicle.rented_by}}</small>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="vehicle_model_1 vehicle_model">{{ vehicle.vehicle_model }}</h5>
                                <br />
                                <p class="card-text justified">{{ vehicle.description }}</p>


                                <br /><br />

                                

                                <a href="{% url 'vehicle' vehicle.id  %}"><button type="button"
                                        class="btn learn-more">Details</button></a>
                                <h4 style="float: right;"><strong>RS {{vehicle.rent_price}}/day</strong></h4>
                                <br>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <h5>All vehicles are available right now!</h5>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock content %}